<div class="container-fluid">
  <div class="row slide">
    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Transaction Experience & Industry Coverage</h1>
          <p>
            The majority of our transactions have been within the Manufacturing, Construction,
            Distribution/Wholesaling and B2B Service industries,
            and have been within the following lines of business:
          </p>
          <div class="tg-wrap"><table class="tg">
            <tr>
              <th class="tg-yw4l">Manufacturing</th>
              <th class="tg-yw4l">Distribution /<br>Wholesaling</th>
              <th class="tg-yw4l">Services</th>
            </tr>
            <tr>
              <td class="tg-yw4l">Metals</td>
              <td class="tg-yw4l">Industrial Supplies</td>
              <td class="tg-yw4l">Printing</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Plastic</td>
              <td class="tg-yw4l">Foods</td>
              <td class="tg-yw4l">Publishing</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Foods </td>
              <td class="tg-yw4l">Durables</td>
              <td class="tg-yw4l">Laboratory</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Medical Devices</td>
              <td class="tg-yw4l">Giftware</td>
              <td class="tg-yw4l">Transportation</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Chemicals</td>
              <td class="tg-yw4l">Housewares</td>
              <td class="tg-yw4l">Warehousing</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Instruments</td>
              <td class="tg-yw4l">Tools</td>
              <td class="tg-yw4l">Calibration</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Electronics</td>
              <td class="tg-yw4l"></td>
              <td class="tg-yw4l"></td>
            </tr>
          </table></div>
        </div>
      </div>
    </div>

  </div>
</div>
