<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <!--<h1>BTS has two offices to serve you:</h1>-->
          <table width="100%" cellspacing="0" cellpadding="5" border="0">
            <tbody>
              <tr>
                <td valign="baseline" align="right">
                  <table>
                    <tbody>
                      <tr>
                        <td align="right">
                          <table>
                            <tbody>
                              <tr>
                                <agm-map [latitude]="lat" [longitude]="lng">
                                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                              </tr>
                              <tr>
                                <td align="center"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="100%">
                  <div align="left">
                    <p>
                      <strong><span style="font-size: 1em"></span>Business Transfers & Strategies, LLC </strong>
                    </p>
                    <p>
                      <strong>New Hampshire Office:</strong> <br>
                      15 Constitution Drive<br>
                      Suite 1A<br>
                      Bedford, NH  03110 <br>
                      (603) 310-5034
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <h1>Or contact us using the following form: </h1>
          <form id="myForm" action="mailto:info@business-transfers.com" method="post" enctype="text/plain">
                    <table border="0" align="center">
                      <tbody>
                        <tr>
                          <td style="float: right">Name: &nbsp; </td>
                          <td><input id="form" type="text" name="Name"></td>
                        <tr>
                          <td style="float: right">Address: &nbsp; </td>
                          <td><input id="form" type="text" name="Address"></td>
                        </tr>
                        <tr>
                          <td style="float: right">Phone Number: &nbsp; </td>
                          <td><input id="form" type="number" name="Phone Number"></td>
                        </tr>
                        <tr>
                          <td style="float: right">E-mail: &nbsp; </td>
                          <td><input id="form" type="email" name="E-mail"></td>
                        </tr>
                        <tr>
                          <td style="float: right">Information Requested: &nbsp; </td>
                          <td><textarea name="Information Requested" cols="22" form="myForm"></textarea></td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <input type="submit" class="btn btn-large" value="Send">
                  </form>
        </div>
      </div>
    </div>

  </div>
</div>
