html { overflow-y: scroll; }
body { position: absolute; }

#topParagraph {
  position: relative;
  float: left;
  padding-top:5vh;
}

#box1 {
  position: relative;
  float: left;
  margin-left: 5%;
  height: 250px;
  padding-top: 0;
}
@media (max-width: 768px) {
  #box1 {
    height: 300px;
  }
}

#box2 {
  position: relative;
  float: right;
  height: 300px;
  padding-top: 0;
  margin-bottom: 25vh;
}

.slide {
    background-image:url('../../assets/homeImage.jpg');
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    justify-content: center;
    position:relative;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.blurred-bg-1{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
  background-repeat:repeat-y;
	@include background-size(cover);
	background-attachment: fixed;
}
.blurred-bg-2{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
  background-repeat:repeat-y;
	@include background-size(cover);
	background-attachment: scroll;
}

.box{
	width:500px;
	height:300px;
	position:relative;
	border-radius:5px;
	@include box-shadow(0 20px 30px rgba(0,0,0,.6));
	border:1px solid rgba(255,255,255,.3);
	padding:20px;
	text-align: center;
	@include box-sizing(border-box);
	text-shadow:0 1px 1px rgba(0,0,0,.4);
  display: flex;
  transition: box-shadow .3s ease;
	&:active{
    cursor:move;
    @include box-shadow(0 20px 50px rgba(0,0,0,.9));
  }

  .content{
    margin: auto;
    /*overflow-y: scroll;*/
    /* has to be scroll, not auto */
    overflow: auto; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    /*height: 100%;*/
  }
}

@media (max-width: 768px) {
  .box {
    max-width: 90vw;
    max-height: 100vh;
  }
  #box1 {
    height: auto;
    margin-left: 4vw;
  }
  #box2 {
    height: auto;
  }
  .content {
    /*overflow-y: scroll; !* has to be scroll, not auto *!*/
    /*-webkit-overflow-scrolling: touch;*/
    height: auto;
  }
  #box2 > .content {
    /*overflow: hidden;*/
    height: auto;
    /*overflow-y: scroll; !* has to be scroll, not auto *!*/
    /*-webkit-overflow-scrolling: touch;*/
    margin-bottom: 20px;
  }
  .slide {
    margin-bottom: 500px;
    min-height: 100vh;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
}

h1,h2,a,p{
	color:white;
	font-weight:100;

	.tinted &{
		color:black;
		text-shadow:0 1px 1px rgba(255,255,255,.2);
	}
}
h2{ font-size: 14px;}
p{
  margin: 20px;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    a{
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

h1 {
  color : white;
  font-weight: 300;
}
p{
  font-size: 17px;
  font-weight: 200;
  text-align: justify;
}

#box1 .content > h1 {
  color : #9E8145;
}

#box2 .content > h1 {
  color : #9E8145;
}

.brand {
  background-color: black;
}
